[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/yaml"]
	path = External/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "External/box2d"]
	path = External/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "External/pybind11"]
	path = External/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/imguizmo"]
	path = External/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
