[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/yaml"]
	path = external/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/box2d"]
    path = external/box2d
    url = https://github.com/erincatto/box2d.git
